
body {
    
    
    height: 100%;
     background-repeat:no-repeat;  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
   /* background-color: black; */
 
}
 #video-background{
    
        /*  making the video fullscreen  */
          position: fixed;
          left:0;
          right: 0; 
          bottom: 0;
          min-width: 100%; 
          min-height: 100%;
          height: auto;
          z-index: -200;
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          overflow:hidden;
          object-fit: cover;
 }



* {
    color: #fff;
}

#picture{
    border-radius: 10%;
}




#content{
    margin: 4%;
    margin-left: 4%;
    margin-right: 26%;
}

.card-body {
    margin: -40px 0px;
}

/* .card{
    background-color: black;
} */

#right {
    margin: -15px 60%;
    position: relative;
    bottom: 0;
    text-align: center;
}

img{
    margin: 10px 30px;
    
}

h2{
    margin: 10px 30px;
}

.button-color{
    background-color: rgb(7, 7, 126);
    color: white
}

.tColor{
    color: black;
}

.warning{
    background-color: red;
}

#form{
    margin: 10% 10%;
}

.tHeader{
    /* overflow: hidden; */
    
    position: fixed; 
    top: 0; 
    width: 100%; 
}

.project{
    margin-top: 10%;
}

